$bodyFont: normal 12px/18px Arial, Helvetica, sans-serif;
$bodyColor: #DDBC9B;
$baseColor: #FFFFFF;
$briefColor: saturate(lighten($bodyColor, 15%),30%);
$hdColor: lighten(desaturate($bodyColor, 60%),10%);
$fntClr:black;
$theaderClr: #8C4004;
$tableRowsColor: $baseColor;
$tableBorderColor: white ;
$outline: 2px solid #8C4004;
$linksColor: none;
$tableWidth:780px;
$fontStyle: Arial, Helvetica, sans-serif;
$briefWidth:270px;
$thBorder: 1px solid white;
$imgBorder: 4px solid $baseColor;
$bodyFontSize:13px;
$h1Size: 28px;
$h2Size: 22px;
$h2Style: italic;
$aColor: none;
