
$bodyFont: normal 15px/20px Georgia, "Times New Roman", Times, serif;
$bodyColor: #659A01;
$baseColor: #666701;
$briefColor: #677D01;
$titleColor: darken($baseColor, 70%);
$hdColor: #94A34E;
$fntClr:white;
$theaderClr:#FAD008;
$tableRowsColor: #677D01;
$tableBorderColor: white;
$outline: 1px solid white;
$linksColor:#E0C00D;
$tableWidth:100%;
$fontStyle: Times New Roman;
$bodyFontSize:18px;
$briefWidth:97%;
$thBorder: none;
$imgBorder: 10px solid $baseColor;
$h1Size:30px;
$h2Size:26px;
$h2Style: normal;
$aColor: #FAD008;
